/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

:root {
  --lightgray: rgb(109, 109, 109);
  --darkgray: rgb(73, 73, 73);

  --nonphotoblue: #90e0ef;
  --lightcyan: #caf0f8;
  --zaffre: #3a0ca3;
  --pacificcyan: #00b4d8;
  --honolulublue: #0077b6;
  --federalblue: #03045e;
  --pureblue: #007bff;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to top, var(--honolulublue), var(--nonphotoblue));
}

/* Text */
h1 {
  font-size: 3rem;
  color: white;
  margin-bottom: 15px;
}

h2 {
  color: white;
}

/* Navbar */
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100vw;
  background: linear-gradient(to bottom, var(--lightgray), var(--darkgray));
  border-bottom: 1px solid var(--darkgray);
}

/* Line breaks */
.break-dark {
  width: 1px;
  height: 100%;
  background-color: var(--darkgray);
}

.break-light {
  width: 1px;
  height: 100%;
  background-color: var(--lightgray);
}

/* Nav main panel */
.nav-main {
  list-style-type: none;
  display: flex;
  height: 100%;
}

.main-item {
  display: flex;
  align-items: center;
}

.nav-main a {
  color: white;
  text-decoration-line: none;
  padding: 15px 20px;
  height: 100%;
}

.nav-main a:hover {
  background: linear-gradient(to top, var(--lightgray), var(--darkgray));
}

/* Nav side panel */
.nav-side {
  list-style-type: none;
  display: flex;
  margin-left: auto;
  position: absolute;
  right: 20px;
}

.side-item {
  margin: 0 10px;
}

.nav-side a {
  color: white;
  text-decoration-line: none;
  background-color: gray;
  padding: 8px 15px;
  border: 1px solid var(--darkgray);
  border-radius: 50px;
}

.nav-side a:hover {
  background-color: var(--darkgray);
  border: 1px solid var(--lightgray);
  transition: all 0.3s ease;
}

/* Main */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  background-color: var(--lightgray);
  margin: 50px 0 10px 0;
  border-radius: 20px;
  border: 1px solid black;
  padding: 20px 30px;
}

.center {
  justify-content: center;
  align-items: center;
}

/* Containers */
.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  }

.field-row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.field-container {
  max-width: 200px;
  margin-bottom: 5px;
}

/* Labels */
.label {
  color: white;
  white-space: nowrap;
}

.create-label {
  color: white;
  white-space: nowrap;
  display: flex;
  align-items: center;
  font-size: 18px;
  margin-right: 10px;
}

/* Inputs */
input {
  background-color: rgb(184, 184, 184);
  height: 1.8rem;
  border-radius: 5px;
  padding: 15px 5px;
  outline: none;
  width: 100%;
}
input:focus {
  background-color: rgb(233, 233, 233);
  /* outline: 2px solid var(--pureblue); */
  box-shadow: 0 0 0 2px var(--pureblue);
  transition: all 0.5s;
}

/* Buttons */
.field-btn {
  background-color: var(--pureblue);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  border: solid 1px var(--darkgray);
}

.field-btn:hover {
  border: solid 1px white;
  transition: all 0.5s ease-out;
}

/* flash messages */
.failureMsg {
  display: block;
  gap: 5px;
  color: rgb(255, 0, 0);
}

.successMsg {
  display: block;
  gap: 5px;
  color: limegreen;
}
/* Icons */
.icon {
  margin: 0 4px 0 4px;
}

/* Profile */
.avatar-container {
  border: solid 3px white;
  border-radius: 100px;
  overflow: hidden;
  width: fit-content;
  height: fit-content;
  margin: auto;
}

#profile-avatar {
  height: 150px;
  width: 150px;
  object-fit: cover;
}

#upload {
  min-height: 50px;
}

/* Lists */
.q-list {
  list-style-type: none;
  display: flex;
  white-space: nowrap;
}
