/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

:root {
  --lightgray: rgb(109, 109, 109);
  --darkgray: rgb(73, 73, 73);
}

body {
  display: flex;
  flex-direction: column;
  height: 100vw;
  background-color: var(--darkgray);
}

/* Navbar */
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: linear-gradient(to bottom, var(--lightgray), var(--darkgray));
  border-bottom: 1px solid var(--darkgray);
}

.break-dark {
  width: 1px;
  height: 100%;
  background-color: var(--darkgray);
}

.break-light {
  width: 1px;
  height: 100%;
  background-color: var(--lightgray);
}

.nav-main {
  list-style-type: none;
  display: flex;
  height: 100%;
}

.main-btn {
  padding: 15px 20px;
}

.nav-main a {
  color: white;
  text-decoration-line: none;
  height: 100%;
}

.nav-side {
 list-style-type: none;
 display: flex;
 margin-left: auto;
 position: absolute;
 right: 20px;
}

.side-btn {
  margin: 0 10px;
  padding: 10px 20px;
  background-color: gray;
  border-radius: 50px;
}

.nav-side a {
 color: white;
 text-decoration-line: none;
}
