{% extends "layout.html" %} 
{% block title %} 
Create Quiz
{% endblock %} 
{% block main %}
<h1>Create your own quiz!</h1>
<form action="/create" method="POST">
    <div class="container">
        <div class="field-row">
            <label class="create-label" for="title">Title:</label>
            <input
                name="title"
                id="title"
                autocomplete="off"
                autofocus
                class="field"
                type="text"
                value="{{ title }}"
                placeholder="Max 50 characters"
                maxlength="50"
            />
        </div>
        <div class="field-row">
            <label class="create-label" for="quiztype">Type:</label>
            <input
                name="quiztype"
                id="bool"
                type="radio"
                value="bool"
            />
            <label for="bool">True/False</label>
            <input
                name="quiztype"
                id="multiple"
                type="radio"
                value="multiple"
            />
            <label for="multiple">Multiple Options</label>
            <input
                name="quiztype"
                id="enter"
                type="radio"
                value="enter"
            />
            <label for="enter">Enter Answer</label> 
        </div>
        <div class="field-row">
            <label class="create-label" for="amount">Number of questions:</label>
            <input
                name="amount"
                id="amount"
                class="field"
                type="number"
                value="{{ amount }}"
            />
            <label class="create-label" for="time">Time Limit:</label>
            <input
                name="time"
                id="time"
                class="field"
                type="number"
                value="{{ time }}"
            />
        </div>
        {% with message = get_flashed_messages(category_filter=["failCreate"]) %} 
        {% if message %}
        <span class="failureMsg"
          ><i class="fas fa-exclamation-triangle icon"></i>{{ message | join(" ")
          }}
        </span>
        {% endif %}
        {% endwith %}
        <div class="field-row center">
            <button class="field-btn" type="submit">Generate</button>
        </div>
        {% if amount %}
            <ul>
                {% for i in range(amount) %}
                    <div class="field-row center">
                        <li class="q-list center">
                            <label class="create-label" for="question{{ i+1 }}">Question {{ i+1 }}:</label> 
                            <input
                            name="question{{ i+1 }}"
                            id="question{{ i+1 }}"
                            class="field"
                            type="text"
                            />
                            {% if quiztype == "bool" %}
                                <label class="create-label" for="bool{{ i+1 }}">Answer:</label>
                                <input 
                                    type="radio" 
                                    name="bool{{ i+1 }}"
                                    id="true"
                                    value="true"
                                    >
                                <label for="false">True</label>
                                <input 
                                    type="radio" 
                                    name="bool{{ i+1 }}"
                                    id="false"
                                    value="false"
                                    >
                                <label for="false">False</label>
                            {% endif %}
                            {% if quiztype == "multiple" %}
                                {% for j in range(3) %}
                                    <label class="create-label" for="answer{{ j+1 }}">Answer {{ i+1 }}:</label> 
                                    <input
                                        name="answer{{ j+1 }}"
                                        id="answer{{ j+1 }}"
                                        class="field"
                                        type="text"
                                    />
                                {% endfor %}
                            {% endif %}
                            {% if quiztype == "enter" %}
                                <label class="create-label" for="answer{{ i+1 }}">Answer:</label> 
                                <input
                                    name="answer{{ i+1 }}"
                                    id="answer{{ i+1 }}"
                                    class="field"
                                    type="text"
                                />
                            {% endif %}
                        </li>
                    </div>
                <hr>
                {% endfor %}
            </ul>
                <div class="field-row center">
                    <button class="field-btn" type="submit">Submit</button>
                </div>
        {% endif %}
    </div>
</form>
{% endblock %}