{% extends "layout.html" %} 
{% block title %} 
Create Quiz
{% endblock %} 
{% block main %}
<h1>Create your own quiz!</h1>
<form action="/create" method="POST">
    <div class="container">
        <div class="field-row">
            <label class="create-label" for="title">Title:</label>
            <input
                name="title"
                id="title"
                autocomplete="off"
                autofocus
                class="field"
                type="text"
                value="{{ title }}"
                placeholder="Max 50 characters"
                maxlength="50"
            />
        </div>
        <div class="field-row">
            <label class="create-label" for="quiztype">Type:</label>
            <input
                name="quiztype"
                id="bool"
                type="radio"
                value="bool"
                {% if checked == "bool" %}checked{% endif %}
            />
            <label for="bool">True/False</label>
            <input
                name="quiztype"
                id="multiple"
                type="radio"
                value="multi"
                {% if checked == "multi" %}checked{% endif %}
            />
            <label for="multi">Multiple Options</label>
            <input
                name="quiztype"
                id="enter"
                type="radio"
                value="enter"
                {% if checked== "enter" %}checked{% endif %}
            />
            <label for="enter">Enter Answer</label> 
            <label class="create-label" for="category">Category:</label>
            <select id="category" name="category" onchange="saveSelected()">
                {% for category in categories %}
                    <option value="{{ category }}">
                        {{ category }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="field-row">
            <label class="create-label" for="amount">Number of questions:</label>
            <input
                name="amount"
                id="amount"
                class="field"
                type="number"
                value="{{ amount }}"
            />
            <label class="create-label" for="time">Time Limit:</label>
            <input
                name="time"
                id="time"
                class="field"
                type="number"
                value="{{ time }}"
            />
        </div>
        {% with message = get_flashed_messages(category_filter=["failCreate"]) %} 
        {% if message %}
        <span class="failureMsg"
          ><i class="fas fa-exclamation-triangle icon"></i>{{ message | join(" ")
          }}
        </span>
        {% endif %}
        {% endwith %}
        <div class="field-row center">
            <button class="field-btn" type="submit">Generate</button>
        </div>
        {% if amount %}
            <ul>
                {% for i in range(amount) %}
                    <div class="field-row center">
                        <li class="q-list center">
                            <label class="create-label" for="question{{ i+1 }}">Question {{ i+1 }}:</label> 
                            <input
                            name="question{{ i+1 }}"
                            class="field"
                            type="text"
                            />
                            {% if quiztype == "bool" %}
                                <label class="create-label" for="bool{{ i+1 }}">Answer:</label>
                                <input 
                                    name="bool{{ i+1 }}"
                                    type="radio" 
                                    value="true"
                                    >
                                <label for="false">True</label>
                                <input 
                                    name="bool{{ i+1 }}"
                                    type="radio" 
                                    value="false"
                                    >
                                <label for="false">False</label>
                            {% endif %}
                            {% if quiztype == "enter" %}
                            <label class="create-label" for="answer{{ i+1 }}">Answer:</label> 
                            <input
                            name="answer{{ i+1 }}"
                            class="field"
                            type="text"
                            />
                            {% endif %}
                    </div>
                    {% if quiztype == "multi" %}
                    <div class="field-row">
                        {% for j in range(3) %}
                            <label class="create-label" for="answer{{ j+1 }}">Answer {{ i+1 }}:</label> 
                            <input
                                name="answer{{ i+1 }}_{{ j+1 }}"
                                class="field"
                                type="text"
                            />
                        {% endfor %}
                    </div>
                    {% endif %}
                        </li>
                    <hr>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</form>
{% if amount %}
<form action="/submit" method="POST">
    <div class="field-row center">
        <button class="field-btn" type="submit">Submit</button>
    </div>
</form>
{% endif %}
{% endblock %}