{% extends "layout.html" %} 
{% block title %} 
Create Quiz
{% endblock %} 
{% block main %}
<h1>Create your own quiz!</h1>
<form action="/changepass" method="POST">
    <div class="container">
        <div class="field-row">
            <label class="create-label" for="title">Title:</label>
            <input
                name="title"
                id="title"
                autocomplete="off"
                autofocus
                class="field"
                type="text"
            />
        </div>
        <div class="field-row">
            <label class="create-label" for="type">Type:</label>
            <input
                name="type"
                id="bool"
                type="radio"
                value="bool"
            />
            <label for="bool">True/False</label>
            <input
                name="type"
                id="multiple"
                type="radio"
                value="multiple"
            />
            <label for="multiple">Multiple Options</label>
            <input
                name="type"
                id="enter"
                type="radio"
                value="enter"
            />
            <label for="enter">Enter Answer</label> 
        </div>
        <div class="field-row">
            <label class="create-label" for="amount">Amount of questions:</label>
            <input
                name="amount"
                id="amount"
                class="field"
                type="number"
            />
            <label class="create-label" for="time">Time Limit:</label>
            <input
                name="time"
                id="time"
                class="field"
                type="number"
            />
        </div>
    </div>
</form>
{% endblock %}