<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/static/styles.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nova+Square&display=swap"
      rel="stylesheet"
    />
    <title>{% block title %}Title{% endblock %}</title>
  </head>
  <body>
    <header>
      <nav>
        <ul class="nav-main">
          <div class="break-dark"></div>
          <div class="break-light"></div>
          <li class="main-btn"><a href="/home">Home</a></li>
          <div class="break-dark"></div>
          <div class="break-light"></div>
          <li class="main-btn"><a href="/categories">Categories</a></li>
          <div class="break-dark"></div>
          <div class="break-light"></div>
          <li class="main-btn"><a href="/create">Create</a></li>
          <div class="break-dark"></div>
          <div class="break-light"></div>
          <li class="main-btn"><a href="/random">Random</a></li>
          <div class="break-dark"></div>
          <div class="break-light"></div>
        </ul>
        <ul class="nav-side">
          <li class="side-btn"><a href="/login">Log in</a></li>
          <li class="side-btn"><a href="/signup">Sign up</a></li>
        </ul>
      </nav>
    </header>
    <main>
    </main>
    <footer>
      <h4>Text goes here</h4>
    </footer>
  </body>
</html>
