<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/static/styles.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nova+Square&display=swap"
      rel="stylesheet"
    />
    <title>{% block title %}Title{% endblock %}</title>
  </head>
  <body>
    <header>
      <!-- Banner -->
      <div class="banner">
        <h1 class="banner-text">Quizable</h1>
      </div>
      <!-- Navbar -->
      <nav class="navbar">
          <ul class="nav-list">
            <li><button class="nav-btn">Home</button></li>
            <li><button class="nav-btn">Categories</button></li>
            <li><button class="nav-btn">Create</button></li>
            <li><button class="nav-btn">About Me</button></li>
            <li><button class="nav-btn">Contact</button></li>
          </ul>
        </nav>
    </header>
    <main>
      <h2>Hello</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem tenetur neque soluta dolor, exercitationem quas nesciunt porro accusamus eius sapiente quo molestiae quis, natus eveniet vitae ad quisquam est beatae officia consequuntur consequatur? Eligendi ipsam, eius recusandae perferendis incidunt vitae.
      </p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse sint debitis impedit eum nulla iusto, molestias quas explicabo vero? Minus eveniet tempora, facilis nihil earum nobis repellat totam reprehenderit animi iure at facere inventore eum molestiae nostrum maxime pariatur odit nisi? Est, voluptatibus eos? Perferendis minus est ipsa iure assumenda dolores voluptas, a dolore sint aspernatur optio accusantium consequatur hic ut eos adipisci doloremque vitae! Architecto eligendi blanditiis eveniet voluptatum est facere praesentium facilis nostrum doloremque natus? Qui, reiciendis excepturi?
      </p>
    </main>
    <footer>
      <h4>Text goes here</h4>
    </footer>
  </body>
</html>
