{% extends "layout.html" %} {% block title %} Log in {% endblock %} {% block
main %}
<h1>Log in</h1>
<form action="/login" method="POST">
  <div class="container">
    <div class="field-row">
      <label class="label" for="username" value="{{ username }}">Username:</label>
    </div>
    <div class="field-row center">
      <input
        autocomplete="off"
        autofocus
        class="field"
        id="username"
        name="username"
        type="text"
        value="{{ username }}"
      />
    </div>
    {% with message = get_flashed_messages(category_filter=["failUsername"]) %} 
    {% if message %}
    <span class="failureMsg"
      ><i class="fas fa-exclamation-triangle icon"></i>{{ message | join(" ")
      }}
    </span>
    {% endif %}
    {% endwith %}
    <div class="field-row">
      <label class="label" for="password">Password:</label>
    </div>
    <div class="field-row center">
      <input 
        id="password" 
        class="field" 
        name="password" 
        type="password" />
    </div>
    {% with message = get_flashed_messages(category_filter=["failPassword"]) %} 
    {% if message %}
    <span class="failureMsg"
      ><i class="fas fa-exclamation-triangle icon"></i>{{ message | join(" ")
      }}
    </span>
    {% endif %}
    {% endwith %}
    <div class="field-row center">
      <button class="field-btn" type="submit">Log in</button>
    </div>
    <div class="field-row center">
      <p>Don't have an account? <a href="/signup">Register here!</a></p>
    </div>
  </div>
</form>
{% endblock %}
