{% extends "layout.html" %} {% block title %} Profile {% endblock %} {% block
main %}
<div class="avatar-container">
  <img src="{{ url }}" id="profile-avatar" alt="Default profile picture" />
</div>
<form action="/upload" method="POST" enctype="multipart/form-data">
  <input type="file" name="file" id="upload" />
  <button type="submit" id="upload-btn">Upload</button>
</form>
<p>Max file size: 5MB</p>

{% with message = get_flashed_messages(category_filter=["failUpload"]) %} 
{% if message %}
<span class="failureMsg"
  ><i class="fas fa-exclamation-triangle icon"></i>{{ message | join(" ") }}</span
>
{% endif %}
{% endwith %}

{% with message = get_flashed_messages(category_filter=["success"]) %} 
{% if message %}
<span class="successMsg"
  ><i class="	fas fa-laugh icon"></i>{{ message | join(" ") }}</span
>
{% endif %}
{% endwith %}
<a href="/changepass"><h3>Change password</h3></a>

{% endblock %}
