{% extends "layout.html" %} {% block title %} Profile {% endblock %} {% block
main %}
<div class="avatar-container">
  <img
    src="/static/images/default/Default-profile.jpg"
    alt="Default profile picture"
  />
</div>
<form action="/upload" method="POST" enctype="multipart/form-data">
    <input type="file" name="file">
</form>
{% with error = get_flashed_messages(category_filter=["image"]) %} {%
    if error %}
    <span class="errorMessage"
      ><i class="fas fa-exclamation-triangle icon"></i>{{ error | join(" ")
      }}</span
    >
    {% endif %} {% endwith %}
{% endblock %}
