{% extends "layout.html" %} {% block title %} Sign up {% endblock %} {% block
main %}
<h1>Sign up</h1>
<form action="/signup" method="POST">
  <div class="container">
    <div class="field-container">
      <div class="field-row">
        <label class="label" for="username">Username:</label>
      </div>
      <div class="field-row">
        <input
          name="username"
          id="username"
          autocomplete="off"
          class="field"
          type="text"
          {% if username %}
            value="{{ username }}"
          {% endif %}
          />
      </div>
    </div>
      {% with message = get_flashed_messages(category_filter=["failUsername"]) %} {%
      if message %}
      <span class="failureMsg"
        ><i class="fas fa-exclamation-triangle icon"></i>{{ message | join(" ")
        }}</span
      >
      {% endif %} {% endwith %}
    <div class="field-container">
      <div class="field-row">
        <label class="label" for="password">Password:</label>
      </div>
      <div class="field-row">
        <input 
        name="password"
        id="password" 
        autocomplete="off" 
        class="field" 
        type="password" 
        />
      </div>
    </div>
    <div class="field-container">
      <div class="field-row">
        <label class="label" for="confirm">Confirm password:</label>
      </div>
      <div class="field-row">
        <input 
        name="confirm"
        id="confirm" 
        autocomplete="off" 
        class="field" 
        type="password" />
      </div>
    </div>
    {% with message = get_flashed_messages(category_filter=["failPassword"]) %} {% if
    message %}
    <span class="failureMsg"
      ><i class="fas fa-exclamation-triangle icon"></i>{{ message | join(" ")
      }}
    </span>
    {% endif %} {% endwith %}
    <div class="field-row center">
      <button class="field-btn" type="submit">Sign up!</button>
    </div>
  </div>
</form>
{% endblock %}