{% extends "layout.html" %} {% block title %} Sign up {% endblock %} {% block
main %}
<h2>Sign up</h2>
<form action="/signup" method="POST">
  <div class="column">
    <div class="row">
      <label class="label" for="username">Username:</label>
      <input
        name="username"
        id="username"
        autocomplete="off"
        autofocus
        class="field"
        type="text"
        value="{{ username }}"
      />
      {% with message = get_flashed_messages(category_filter=["failUsername"]) %} {%
      if message %}
      <span class="failureMsg"
        ><i class="fas fa-exclamation-triangle icon"></i>{{ message | join(" ")
        }}</span
      >
      {% endif %} {% endwith %}
    </div>
    <div class="row">
      <label class="label" for="password">Password:</label>
      <input 
      name="password"
      id="password" 
      autocomplete="off" 
      class="field" 
      type="password" 
      />
    </div>
    <div class="row">
      <label class="label" for="confirm">Confirm password:</label>
      <input 
      name="confirm"
      id="confirm" 
      autocomplete="off" 
      class="field" 
      type="password" />
    </div>
    {% with message = get_flashed_messages(category_filter=["failPassword"]) %} {% if
    message %}
    <span class="failureMsg"
      ><i class="fas fa-exclamation-triangle icon"></i>{{ message | join(" ")
      }}
    </span>
    {% endif %} {% endwith %}
    <div class="row">
      <button class="btn" type="submit">Sign up!</button>
    </div>
  </div>
</form>
{% endblock %}
